<footer>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center pt-3">
            <a href="https://www.facebook.com/imjuni007" target="_blank">
                <img src="/assets/imgs/fb.png">
            </a>
            <a href="https://www.fiverr.com/share/o8lLW4" target="_blank">
                <img src="/assets/imgs/fiverr.jpg">
            </a>
            <a href="https://twitter.com/JuniLuka" target="_blank">
                <img src="/assets/imgs/twitter.png">
            </a>
            <a href="https://www.instagram.com/juni_luka" target="_blank">
                <img src="/assets/imgs/insta.png">
            </a>
            <a href="https://www.linkedin.com/in/junaid-iqbal-b240b5158" target="_blank">
                <img src="/assets/imgs/linked.png">
            </a>
        </div>
        <div class="col-md-4 text-right pt-3 pr-5">
            <p class="text-white mb-0">2020 &copy; Company Ltd. All Rights Reserved.</p>
            <p class="text-white">Junaid Iqbal, Contact +923014591408</p>
        </div>
    </div>
</footer>