<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>


<div class="row mt-2">

    <div class="col-md-12 my-3">
        <h4>Hot Deals ({{allDeals.length}})
            <button (click)="addNewDeal()" data-target="#addDeal" data-toggle="modal"
                class="btn btn-primary float-right">Add New Deal</button>
        </h4>
    </div>

    <div *ngFor="let deal of allDeals; index as i" class="col-md-3 mb-4">
        <div class="anItem bg-white rounded shadow-sm pointer p-3">
            <img class="w-100 mb-2" [src]="deal.imageUrl || '/assets/imgs/icon.jpg'">
            <h4>{{deal.name}}</h4>
            <p *ngFor="let item of deal.items" class="mb-0">{{item}}</p>
            <h3 class="mb-0 mt-2">
                <span class="badge badge-warning">RS. {{deal.price}}</span>
                <span data-target="#deleteDeal" data-toggle="modal" (click)="deleteDeal(deal, i)" class="float-right ml-3">
                    <i class="fa fa-trash text-danger"></i>
                </span>
                <span data-target="#addDeal" data-toggle="modal" (click)="editDeal(deal, i)" class="float-right">
                    <i class="fa fa-edit text-primary"></i>
                </span>
            </h3>
        </div>
    </div>
</div>


<div *ngIf="modalClick" class="modal fade" id="addDeal">
    <app-add-deal-modal [deal]="deal" (modalClosed)="closeModal($event)"></app-add-deal-modal>
</div>


<div *ngIf="modalClickDel"  class="modal fade" id="deleteDeal">
    <app-delete-deal-modal [message]="message" (modalClosedDel)="closeModalDel($event)"></app-delete-deal-modal>
</div>