.anItem {
    position: relative;
    height: 400px;
    h3 {
        position: absolute;
        width: 90%;
        bottom: 1rem;
    }
    img {
        height: 120px;
        object-fit: cover;
    }
}
